{#
/**
 * Layout provider: flex-builder
 * Template suggestion: page
 */
#}
{{ attach_library('revolutionary_output/revolutionary_output.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
