/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

#masthead div.regions {
  min-height: 15.625rem;
}

#masthead div.region {
  padding: 0;
}

#masthead #block-phillysocialistsbanner,
#masthead #block-phillysocialistsbanner div.field-name-body,
#masthead #block-phillysocialistsbanner div.field-name-body p {
  margin: 0;
}

#masthead #block-phillysocialistsbanner img {
  min-height: 15.625rem;
}

#masthead #block-mainmenu div.rm-block__inner,
#masthead #block-mainmenu div.rm-block__content,
#masthead #block-mainmenu ul.menu-name--main {
  height: 100%;
}

#masthead #block-mainmenu div.rm-block__content {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.5rem;
}

/*
 * Main Menu styles
 */

#block-mainmenu li.menu__item {
  background-color: #000000;
  border-bottom: solid #A11A1A;
  height: 20%;
}

#block-mainmenu li.menu__item:hover {
  background-color: #A11A1A;
}

#block-mainmenu li#mlid-linkedin {
  border-bottom: none;
}

#block-mainmenu span.menu__link--wrapper {
  height: 100%;
}

#block-mainmenu a {
  background-color: inherit;
  color: #A11A1A;
  height: 100%;
  padding: 0 0 0 3.4375rem;
  margin: 0;
  font-size: .91875rem;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left;
}

#block-mainmenu li.menu__item:hover a {
  color: #000000;
  text-decoration: none;
}

#block-mainmenu li#mlid-revolutionary-output a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/no_logo.png');
}

#block-mainmenu li#mlid-socialism--oitnb a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/philly_socialists.png');
}

#block-mainmenu li#mlid-twitter a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/twitter.jpeg');
}

#block-mainmenu li#mlid-facebook a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/facebook.jpg');
}

#block-mainmenu li#mlid-linkedin a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/linkedin.jpg');
}

#block-mainmenu a span {
  position: relative;
  top: 30%;
}

#block-mainmenu li#mlid-revolutionary-output a span span {
  position: unset;
}

#block-mainmenu span.socialism-oitnb {
  height: 100%;
  padding-right: 3.5rem;
  display: inline-block;
  position: unset;
  background-image: url('/themes/revolutionary_output/images/menu_icons/oitnb.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

#block-mainmenu #mlid-socialism--oitnb:hover {
  background-color: #E36700;
}

#block-mainmenu #mlid-socialism--oitnb:hover a {
  color: #A11A1A;
}

#block-mainmenu #mlid-socialism--oitnb:hover span.oitnb {
  color: #000000;
}

/*
 * Content region styles
 */

#block-revolutionary-output-content {
  font-size: 1.05rem;
  font-family: Georgia, serif;
}

#block-revolutionary-output-content h2 {
  font-size: 1.5rem;
}

#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-page-title,
#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-custom-soc-oitnb-page-title {
  color: #A11A1A;
  font-size: 1.75rem;
  font-weight: bold;
}

#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-author-date {
  float: left;
  padding-top: .3125em;
  padding-right: .9375em;
}

/*
 * Special OITNB span style
 */

span.oitnb {
  color: #E36700;
}

/*
 * OITNB Characters Button
 */

.responsive-menus.responsified span.toggler, .responsive-menus.responsified .responsive-menus-simple {
  background-color: #000000;
  box-shadow: .125em .125em .125em #000000;
}

.responsive-menus.responsified span.toggler {
  padding-top: .3125em;
  padding-bottom: .3125em;
}

.responsive-menus.responsified span.toggler:hover {
  background-color: #E36700;
  color: #000000;
}

.responsive-menus.responsified span.toggler, .responsive-menus.responsified .responsive-menus-simple li a {
  color: #E36700;
}

.responsive-menus.responsified .responsive-menus-simple li a {
  padding-left: 3.75em;
}

.responsive-menus.responsified .responsive-menus-simple li {
  float: none;
}

.responsive-menus.responsified .responsive-menus-simple li:hover {
  background-color: #A11A1A;
}

.responsive-menus.responsified .responsive-menus-simple li.menu-item-434 a {
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: auto;
}
