/**
 * Custom CSS
 * Use this file to override styles if you feel uncomfortable editing
 * component stylesheets.
 ============================================================================ */

/*
 * Video Embed Field Colorbox preview image
 */

.video-embed-field-launch-modal img {
  cursor: pointer;
}

/*
 * Header styles
 */

#masthead div.regions {
  padding: 0;
  position: relative;
}

#masthead div.region {
  padding: 0;
}

#masthead #block-phillysocialistsbanner,
#masthead #block-phillysocialistsbanner div.field-name-body,
#masthead #block-phillysocialistsbanner div.field-name-body p {
  margin: 0;
}

#masthead #block-mainmenu div.rm-block__inner,
#masthead #block-mainmenu div.rm-block__content,
#masthead #block-mainmenu ul.menu-name--main {
  height: 100%;
}

#masthead #block-mainmenu div.rm-block__content {
  margin: 0;
  text-transform: uppercase;
  line-height: 1.5rem;
}

/*
 * Main Menu styles
 */

#block-mainmenu div.rm-toggle {
  height: 100%;
  padding: 0;
}

#block-mainmenu button.rm-toggle__link {
  background-color: #000000;
  height: 100%;
  width: 100%;
  padding: 0;
}

#block-mainmenu span.rm-toggle__label {
  display: none;
}

#block-mainmenu svg.rm-toggle__icon {
  fill: #A11A1A;
  width: 5rem;
  height: 5rem;
}

#block-mainmenu li.menu__item {
  background-color: #000000;
  border-bottom: solid #A11A1A;
}

#block-mainmenu li.menu__item:hover {
  background-color: #A11A1A;
}

#block-mainmenu span.menu__link--wrapper {
  height: 100%;
}

#block-mainmenu a {
  background-color: inherit;
  color: #A11A1A;
  height: 100%;
  padding: 0 0 0 3.4375rem;
  margin: 0;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: left;
}

#block-mainmenu li.menu__item:hover a {
  color: #000000;
  text-decoration: none;
}

#block-mainmenu li#mlid-revolutionary-output a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/no_logo.png');
}

#block-mainmenu li#mlid-socialism--oitnb a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/philly_socialists.png');
}

#block-mainmenu li#mlid-twitter a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/twitter.jpeg');
}

#block-mainmenu li#mlid-facebook a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/facebook.jpg');
}

#block-mainmenu li#mlid-linkedin a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/linkedin.jpg');
}

#block-mainmenu a span {
  position: relative;
  top: 30%;
}

#block-mainmenu li#mlid-revolutionary-output a span span {
  position: unset;
}

#block-mainmenu span.socialism-oitnb {
  height: 100%;
  padding-right: 3.5rem;
  display: inline-block;
  position: unset;
  background-image: url('/themes/revolutionary_output/images/menu_icons/oitnb.jpg');
  background-repeat: no-repeat;
  background-position: right;
}

#block-mainmenu #mlid-socialism--oitnb:hover {
  background-color: #E36700;
}

#block-mainmenu #mlid-socialism--oitnb:hover a {
  color: #A11A1A;
}

#block-mainmenu #mlid-socialism--oitnb:hover span.oitnb {
  color: #000000;
}

/*
 * Content region styles
 */

div#main-content .regions {
  padding: 0;
 }

 /*
  * Sidebar styles
  */

div#main-content #block-redtalkoursocialistfuturegender {
  margin-top: 0;
}

div#main-content #block-redtalkoursocialistfuturegender h2 {
  margin: 0;
}

/*
 * Content block styles
 */

#block-revolutionary-output-content {
  margin: 0;
  font-size: 1.05rem;
  font-family: Georgia, serif;
}

#block-revolutionary-output-content h2 {
  font-size: 1.5rem;
  margin: 1.3125rem 0;
}

#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-custom-soc-oitnb-page-title {
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-page-title,
#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-custom-soc-oitnb-page-title {
  color: #A11A1A;
  font-size: 1.75rem;
  font-weight: bold;
}

#block-revolutionary-output-content .field-name-field-images img {
  float: left;
}

#block-revolutionary-output-content .field-name-dynamic-token-fieldnode-author-date {
  float: left;
  padding-top: .33rem;
  padding-right: .985rem;
}

#block-revolutionary-output-content .field-name-field-tags {
  margin-top: .9375rem;
}

#block-revolutionary-output-content .node--view-mode-teaser {
  border-top: thin #A11A1A solid;
}

#block-revolutionary-output-content .node--view-mode-full {
  border-bottom: thin #A11A1A solid;
}

#block-revolutionary-output-content .field-name-field-video .field__item {
  padding-right: 1.25rem;
}

/*
 * Special OITNB span style
 */

span.oitnb {
  color: #E36700;
}

/*
 * OITNB Characters Button
 */

#navbar div.region, #navbar div.regions {
  padding: 0;
}

.responsive-menus.responsified span.toggler, .responsive-menus.responsified .responsive-menus-simple {
  background-color: #000000;
  box-shadow: .125em .125em .125em #000000;
}

.responsive-menus.responsified span.toggler {
  padding-top: .3125em;
  padding-bottom: .3125em;
}

.responsive-menus.responsified span.toggler:hover {
  background-color: #E36700;
  color: #000000;
}

.responsive-menus.responsified span.toggler, .responsive-menus.responsified .responsive-menus-simple li a {
  color: #E36700;
}

/*
 * OITNB Characters Menu
 */

.responsive-menus.responsified .responsive-menus-simple li a {
  padding-left: 3.75em;
}

.responsive-menus.responsified .responsive-menus-simple li {
  float: none;
}

.responsive-menus.responsified .responsive-menus-simple li:hover {
  background-color: #A11A1A;
}

.responsive-menus.responsified .responsive-menus-simple li#menu-name--menu-oitnb-characters__nicky a {
  background-image: url('/themes/revolutionary_output/images/menu_icons/science.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: auto;
}
